@pink: #ff0097;


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  line-height: 60px;
  margin-top: 40px;
}

.navbar-brand a{
	color: #fff;
	outline: none;
	text-decoration: none;
}

.mTop{
    margin-top: 20px;
}

#mainContent{
	padding-top: 60px;
	padding-bottom: 30px;
}

.contextmenu {
  position: fixed;
  display: block;
  z-index: 5000;
}
.contextmenu li > a:hover {
  background-color: #428bca;
  color: #ffffff;
}

#home h1{
  margin: 40px 0;
}

#home .btn-default{
  background: none;
  font-size: 2em;
  padding: 50px 0;
  color: #666;
}

#home .btn-default:first-child{
  border-right: none;
}

#loading {
    background: @pink;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
    padding: 10px 30px;
    -webkit-box-shadow: 1px 2px 6px lighten(@pink, 10%);
    box-shadow: 1px 2px 6px lighten(@pink, 10%); 
    color: #fff; 
    border-radius: 10px;
    font-size: 25px;

    left: 50%;
    margin-left: -86px;
    margin-top: -33px;
    position: absolute;
    top: 40%;
    z-index: 999999;
}

.fa-spin{
    margin-right: 6px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}

.list-inline.navbar-right{
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    float: right;
}

.list-inline.navbar-right a{
    padding: 14px 15px;
    color: #fff;
    text-decoration: none;
}

.list-inline.navbar-right a:hover{
    background-color: hsl(212, 77%, 42%);
}

#usersList table{
  table-layout: fixed;  
}

#usersList th{
  background-color: #E4E4E4; 
}
#usersList .table-bordered > thead{
    border-top: 1px solid #797979;
    cursor: default;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
  border-color: #797979;  
}

#contextMenu {
  position: relative;
  background: #fff;
  border: 1px solid #797979;
  padding: 0;
}

#contextMenu > li{
  border-bottom: 1px solid #797979;
}

#contextMenu > li:last-child{
  border-bottom: none;
}

#contextMenu > li a{
  padding-top: 8px;
  padding-bottom: 8px;
}

#contextMenu:after, #contextMenu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#contextMenu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: -9px;
}
#contextMenu:before {
  border-color: rgba(121, 121, 121, 0);
  border-bottom-color: #797979;
  border-width: 10px;
  margin-left: -10px;
}


@media (max-width: 768px) {
  #home .btn-default{
    font-size: 1.2em;
  }

  #usersList table{
    table-layout: auto;  
  }

  .fa.pull-right{
    float: none !important;
  }
}